.smpSortableTable--nav {
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.smpSortableTable--sortable,
.smpSortableTable--nav-links {
    cursor: pointer;
   
    font-weight: bolder;
}
.smpSortableTable--nav-links{
           font-size: 24px;
    color: #00AAFF;
    margin: 20px;
}
.smpSortableTable--sortable.desc::after {
    content: '\25B2';
}

.smpSortableTable--sortable.asc::after {
    content: '\25BC';
}

.smpSortableTable--nav-links.smpSortableTable--disabled {
    cursor: not-allowed;
    color: lightgrey;
}

